/* Inactive form styling */

.inactive-form-container {
    display: flex;
    visibility: visible;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    height: 46px;
    max-width: 600px;
    padding: 16px 10px 12px 14px;
    margin: 32px auto 16px auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    position: relative;
}

.inactive-form  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inactive-form-container input {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 408px;
    margin-left: 2px;
    outline: none;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
}

.inactive-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #574C4C;
}

.inactiveform-icons {
    display: flex;
    height: 46px;
    position: absolute;
    top: 0;
    right: 10px;
}

.inactive-form .material-symbols-outlined {
    display: flex;
    margin-left: 6px;
    padding: 12px;
    cursor: pointer;
}

/* Active form styling */

.active-form-container, .form-container {
    display: flex;
    justify-content: center;
}

.active-form {
    flex-direction: column;
    height: 136.13px;
    width: 600px;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    margin-top: 32px;
    display: none;
}

.inactive-form-container.hidden {
    display: none;
}

.active-form.visible {
    display: flex;
}

.note-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    width: 597.876px;
    padding: 10px 15px;
    outline: none;
    border: none;
    font-size: 16px;
}

.note-title input {
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #202124;
    height: 100%;
    width: 90%;
}

.note-title input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #666874;
}

.note-title .material-symbols-outlined {
    padding: 6px;
    cursor: pointer;
    color: #574C4C;
}

.note-title .material-symbols-outlined:hover {
    color: #202124;
    border-radius: 50%;
}

.note-text {
    height: 46px;
    width: 597.876px;
    padding: 12px 16px;
}

.note-text input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 14px;

}

.note-text input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #574C4C;
}

.footer-icons {
    display: flex;
    margin-top: 12px;
    height: 36px;
}

.footer-icon {
    font-size: 19px;
    color: #574C4C;
    margin: 0px 8px;
    padding: 6px;
    cursor: pointer;
}

.undo, .redo {
    color: #BFBFBF;
}

.form .note-icons-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 597.876px;
    margin: 4px 0px;
    padding: 0px 0px 0px 2px;
}

.close-btn {
    display: flex;
    align-items: center;
    height: 31px;
    width: 86.1px;
    margin-right: 15px;
    margin-left: 120px;
    padding: 8px 24px;
    border: none;
    background: none;
    font-size: 14.5px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.close-btn:hover {
    background-color: rgba(244, 244, 244, 0.5);
    border-radius: 4px;
}

